@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
	background-color: #2a273f;

	display:flex;
	flex-flow: column nowrap;
	align-items: center;

	width: 100vw;
	height: 100vh;

	margin: 0;
}

h1, h2 {
	text-align: center;

	font-family: "Google Sans", sans-serif;

	color: #232136;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
}

#header {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	width: 100%;
	background-color: #56949f;
}

#mission {
	max-width: 80%;
	padding: 1em;

	border: 10px double #393552;
	border-radius: 15px;

	font-family: "Google Sans", sans-serif;

	background-color: #2a273f;
	color: #e0def4;
}

#banner {
	width: 100%;
	margin-top: 4em;
	font-size: 2em;

	display: flex;
	align-items: center;
	text-align: center;

	font-family: "Google Sans", sans-serif;

	color: #e0def4;
}
#banner::before, #banner::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #e0def4;
}
#banner:not(:empty)::before {
	margin-right: .25em;
}
#banner:not(:empty)::after {
	margin-left: .25em;
}

#empty {
	flex-grow: 1;
	width: 100%;
	
	background-color: #393552;
}
