@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
	background-color: #232136;

	display:flex;
	flex-flow: column nowrap;
	align-items: center;
}

h1, h2 {
	text-align: center;

	font-family: "Google Sans", sans-serif;

	color: #e0def4;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
}


#mission {
	padding: 1em;

	border: 2px solid #393552;
	border-radius: 5px;

	font-family: "Google Sans", sans-serif;

	background-color: #2a273f;
	color: #e0def4;
}

#banner {
	width: 100%;
	margin-top: 5em;
	font-size: 2em;

	display: flex;
	align-items: center;
	text-align: center;

	font-family: "Google Sans", sans-serif;

	color: #e0def4;
}
#banner::before, #banner::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #e0def4;
}
#banner:not(:empty)::before {
	margin-right: .25em;
}
#banner:not(:empty)::after {
	margin-left: .25em;
}

